.bloquecuadros{

    display: flex;
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 5%;
    

}


.bloquecuadros h1{

    color:whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
}

.bloquecuadros h4{

    color:whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}

.bloquefinalizado{

    background-color: #e74c3c;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    width: 200px;
}


.bloqueprogreso{

    background-color: #f1c40f;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}

.bloqueactivo{

    background-color: #16a085;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}

.bloquetotal{

    background-color: #5dade2;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}


.general{

    display: inline-block;
    width: 100%;

}

.activos{

    margin-bottom: 3%;


}

.editarfinalizados{

    margin-bottom: 3%;


}

.progresos{

    margin-bottom: 3%;

}

.accordion.activos  .accordion-button { 
    background-color: #16a085;
    color: white;
     border: none; 
    }

.accordion.editarfinalizados .accordion-button { 
    background-color: #e74c3c;
    color: white;
    border: none; 
         }
    
.accordion.progresos .accordion-button { 
    background-color: #f1c40f;
    color: white;
    border: none; 
             
}


#activos{

    color: #16a085;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    

}

#progreso{

    color: #f1c40f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    

}

#finalizado{

    color: #e74c3c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    

}

